<div id="everything">
  
  <% if @last %>
  
    <div id="display">
      <h1>
        <%= [@last.city, @last.country].reject(&:nil?).join(', ') %>
      </h1>
  
      <p>
        as of
        <%= @last.when.strftime("%d/%m/%Y") %>
      </p>
    </div>
  
  <% end %>
  
</div>